body
{
background-color:#666f6a;
max-width:800;
}

p,h1,h2,h3,li,td,div
{ 
font-family: helvetica, sans-serif;
color:#000000;
font-size: medium; 
}

div.selectedCommand
{
background-color:#ffee67;
}

textarea.code
{
font-family: monospace;
}

.swatch {
    display: inline-block;
}

.tool {
    padding: 20px;
    -webkit-appearance: none;
}

.tool.active {
    color: red;
    border-style: inset;
    background: dodgerblue;
    color: white;
}

.object-list {
    list-style: circle;
    background: #111833;
    color: white;
    padding: 10px 30px;
    max-width: 300px;
    max-height: 285px;
    overflow-y: auto;
}
.object-list li {
    color: white;
    padding: 5px 5px;
    cursor: pointer;
}
.object-list li:hover {
    background: #fff1;
}

.object-list .selected {
    color: orange;
    list-style: square;
}